@using Web_TheSpaceCoffee.Models;
@using X.PagedList.Mvc.Core;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<TbKhoVatTuCh>
@{
    ViewData["Title"] = "StoreHouse";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@using (Html.BeginForm("FindStoreHouse", "Home", FormMethod.Get))
{
    <form class=" d-none d-md-block m-2 p-2">
        @Html.TextBox("searchNameStoreHouse", null, new { @class = "w-75 form-control-sm  border-0" })
        <button type="submit" class="btn btn-outline-secondary m-2 bg-light">Tìm Kiếm   </button>
    </form>
}
<h1>Danh sách Kho</h1>
<p>@TempData["Message"]</p>
<div>

    <table class="table table-bordered">
        <thead>
            <tr class="table-danger">
                <th>
                    Cửa Hàng
                </th>
                <th>
                    Mã Vật Tư
                </th>
                <th>
                    Số Lượng
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-warning">
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCuaHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaVatTu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        <a asp-action="suasanpham" , asp-route-maSanPham="@item.MaCuaHang">Edit</a>|
                        <a asp-action="xoasanpham" , asp-route-maSanPham="@item.MaCuaHang">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("StoreHouse", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions()
{
            LiElementClasses = new List<String> { "bg-secondary page-item" },
            PageClasses = new List<String> { "page-link" }
        })

